%h2 Process Definition <em>#{@definition.name}</em>

%p= link_to "Edit", edit_process_definition_path(@definition), class: "btn btn-primary btn-sm"

%p
  %strong ID:
  = @definition.id

%p
  %strong Name:
  = @definition.name
%p
  %strong Slug:
  = @definition.slug
%p
  %strong Starting Node:
  = @definition.starting_node
%p
  %strong Created:
  = @definition.created_at
%p
  %strong Updated:
  = @definition.updated_at
%p
  %strong Description:
  = @definition.description

%p
  %strong Process Instances:
  = link_to 'Process Instances', process_definition_process_instances_path(@definition), class: "btn btn-default btn-sm"

%p
  %strong Start New Process Instance:
  = link_to 'Start New Process Instance', start_new_process_instance_process_definition_path(@definition), method: :post, class: "btn btn-warning btn-sm"

= render 'process_engine/share/bpmn_canvas'

%p
  %strong BPMN XML:
  %pre= @definition.bpmn_xml.try(:truncate, 300)

%p
  %strong BMPN JSON:
  %pre= JSON.pretty_generate(@definition.bpmn_json)




:javascript
  var bpmn_url = "/process_engine/process_definitions/#{@definition.id}/bpmn_xml";
  loadBMPNViewer(bpmn_url, [], window.BpmnJS, window.jQuery)
